<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="css/peoplestyle.css" rel="stylesheet">
</head>
<body>
<button type="button" onclick="location.href = 'mainMenu'">Profile</button><br>
{% if person is not empty %}
<img src="Pictures/{{ person[0]['picture_path'] }}" style="height:300px" alt="Image"><br>
Name: {{ person['name'] }}<br>
    Age: {{ date - person[0]['birth_year'] }}
    <form method="post">
        <input type="submit" name="like"
               class="button" value="Like"/>

        <input type="submit" name="dislike"
               class="button" value="Dislike"/>
    </form>
{% else %}
<p>No more people to show</p>
{% endif %}

</body>
</html>